#redbutton {

    font-size: 60px;
    color: red;
    font-weight: bolder;
    border-radius: 15px;
    border:5px solid maroon;
    padding: 10px;
}

#bluebutton {

    font-size: 60px;
    color: blue;
    font-weight: bolder;
    border-radius: 15px;
    border:5px solid darkblue;
    padding: 10px;
}

#greenbutton {

    font-size: 60px;
    color: green;
    font-weight: bolder;
    border-radius: 15px;
    border:5px solid darkgreen;
    padding: 10px;
}